<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h2>Welcome to The Velvet Goldmine Community!</h2>
    <p>You'll receive our newsletter every fortnight jammed packed with news, collaborations, new arrivals and exclusive special offers!</p>
    <p>You are receiving this email as you have added your email address to our mailing list. 
      If this email address was added in error you can unsubscribe here: <a href="https://the-velvet-goldmine.herokuapp.com/contact/newsletter_unsubscribe/">unsubscribe</a>
    </p>

    <p>Sincerely,
    <br> The Velvet Goldmine xx
    </p>
</body>
</html>