html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    background-color: #dee2e6;
}

/* Navbar */
.text-grey {
    color: #dee2e6 !important;
    text-transform: uppercase;
}

.text-grey:hover,
.text-grey:active,
.text-grey:focus {
    color: #ee6aa7 !important;
}

.dropdown-menu {
    background-color: #dee2e6;    
    box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.7);
}

.dropdown-item {
    color: #ff077b;
    font-weight: 400;
}

.dropdown-item:hover {
    font-weight: bold;
    color: #ff077b;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Background Images*/
.home-bg {
    background: url('/media/home_bg.png');  
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin-top: 120px;
}

/* Header */
.logo {
    font-family: 'Sedgwick Ave Display', cursive;
    color:#ee6aa7;
    font-size: 3.5rem;
}

.bg-black {
    background-color: black;
}

.bg-pink {
    background-color: #ee6aa7;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color:#ee6aa7;
}

.fa,
.fas {
    color:#ee6aa7;
    font-size: 1.75rem;
}

.fa-search {
    font-size: 1.5rem;
}

a.icon-link {
    color: #dee2e6;
}

.grey-box {
    background-color: #dee2e6;
}

.btn-grey {
    background-color: #dee2e6;
    border:#dee2e6;
}

input[name='q']::placeholder {
    color: #ee6aa7;
}

.banner {
    border-bottom: 2px solid black;
    box-shadow: 3px 3px 7px black;
}

.banner-text {
    font-weight: 700;
}

/* Mobile Header */
.mobile-list {
    padding-left: 0;
}

 .mobile-logo {
    font-family: 'Sedgwick Ave Display', cursive;
    color:#ee6aa7;
    font-size: 2rem;
    margin-top: 10px;
}

/* Home Page */
.display-3 {
    font-weight: 500;
    font-family: 'Permanent Marker', cursive;
    padding-left: 1.5rem;
    padding-top: 4.5rem;
    font-size: 8rem;
    text-shadow: 5px 5px 9px black;
}

.display-4 {
    font-weight: 500;
    font-family: 'Permanent Marker', cursive;
    padding-top:4rem;
    font-size: 6rem;
    text-shadow: 5px 5px 9px black;
}

.home-text {
    background-color: rgba(222, 226, 230, 0.2); 
}

.shop-now-btn {
    background-color: #ee6aa7;
    color: black;
    font-weight: 700;
    font-size: 1.75rem;
    border: 3px solid black;
    box-shadow: 7px 7px 9px black;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus {
    background-color: black;
    color: #ee6aa7;
    border: 3px solid #ee6aa7;
    box-shadow: 3px 3px 7px #ee6aa7;
}

/* Carousel */
.carousel-container {
    margin-top: 190px;
    margin-bottom: 50px;
}
.carousel-cell {
    width: 33%;
    margin-right:10px; 
    max-height: 320px; 
    min-height: 280px; 
}

.carousel-img {
    position: relative;
    text-align: center;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ee6aa7 !important;
    font-size: 2.5rem;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 700;
}

/* Cards */
.card {
    border-radius: 5px;   
    box-shadow: 5px 5px 7px #85878a;
}

.card-body {
    background-color: #c7cbcf;
}

/* Dividers */
.pink-divider {
    background-color: #ee6aa7;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: #ee6aa7;
    position: fixed;
}

/* Media Queries */
@media only screen and (max-width: 664px) {
    .shop-now-btn {
        font-size: 1.25rem;  
        margin-top: 2rem; 
    }

    .display-4 {
        font-size: 4.5rem;
    }

    .mobile-icon {
        font-size: 1rem;
        margin: 0;
    }

    .nav-link.mobile-link {
        padding: 0;
    }

    .mobile-item.list-inline-item {
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .banner-text {
        font-size: 1rem;
    }
}