<div class="row d-block d-md-none mt-3">
    {% for order in orders %}
        <div class="col-12">
            <p class="pl-2"><strong class="text-pink">Order Number:</strong>
                <a href="{% url 'order_history' order.order_number %}"
                title="{{ order.order_number }}" class="order-number text-black">
                    {{ order.order_number|truncatechars:6 }}
                </a>
            </p>
        </div>
        <div class="col-12">
            <p class="pl-2"><strong class="text-pink">Order Date: </strong>{{ order.date }}</p>
        </div>
        <div class="col-12">
            <p class="pl-2"><strong class="text-pink">Items: </strong></p>
            <ul class="list-unstyled">
                {% for item in order.lineitems.all %}
                    <li class="pl-3">
                        {{ item.product.name }} 
                        {% if item.product.has_sizes %}
                            - Size UK{{ item.product_size }}
                        {% endif %}
                        x{{ item.quantity }}
                    </li> 
                {% endfor %}
                </ul>
        </div>
        <div class="col-12">
            <p class="pl-2"><strong class="text-pink">Order Total: </strong>€{{ order.grand_total }}</p>
        </div>
       <hr>
    {% empty %}
        <div class="text-center font-weight-bold mt-3">
            <h2 class="text-pink mb-4 px-2">You haven't placed any orders</h2>
            <a href="{% url 'products' %}" class="btn shop-btn rounded-0 text-uppercase">Go Shopping!</a>
        </div>
    {% endfor %}
</div>