<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="text-grey font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
         <li class="nav-item">
            <a class="text-grey font-weight-bold nav-link mr-5" href="{% url 'products' %}" id="products-link">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="text-grey font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">All Clothing</a>
                <a href="" class="dropdown-item">Dresses &amp; Skirts</a>
                <a href="" class="dropdown-item ">Bottoms</a>
                <a href="" class="dropdown-item ">Tops &amp; Ts</a>   
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-grey font-weight-bold nav-link mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Footwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shoes-link">
                <a href="" class="dropdown-item">All Footwear</a>
                <a href="" class="dropdown-item">Heels</a>
                <a href="" class="dropdown-item">Boots</a>
                <a href="" class="dropdown-item">Flats</a>  
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-grey font-weight-bold nav-link mr-5" href="#" id="swimwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Swimwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="swimwear-link">
                <a href="" class="dropdown-item">All Swimwear</a>
                <a href="" class="dropdown-item">One-piece</a>
                <a href="" class="dropdown-item">Two-piece</a>  
            </div>
        </li>

        <li class="nav-item">
            <a class="text-grey font-weight-bold nav-link mr-5" href="#" id="bags-link">
               Bags
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="text-grey font-weight-bold nav-link mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">All Accessories</a>
                <a href="" class="dropdown-item">Sunglasses</a>
                <a href="" class="dropdown-item">Jewellery</a>  
            </div>
        </li>
    </ul>
</div>