{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col bag-header">
                <h1 class="text-pink font-weight-bold mb-4">Blog Management</h1>
                <h4 class="text-pink">Add Blog Post</h4>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_blogpost' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="float-right mb-2">
                        <a class="btn shop-btn rounded-0 text-uppercase" href="{% url 'all_blogposts' %}">Cancel</a>
                        <button class="btn shop-btn rounded-0 text-uppercase" type="submit">Add Post</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            let file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}