{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<main>
    <!--Blog post title/author-->
    <div class="container-blog">
        <div class="row bag-header">
            <div class="col-10 offset-1 text-center">
                <h1 class="text-pink font-weight-bold text-capitalize">{{ post.title }}</h1>
                    <p class="text-center mb-0">
                {% if post.author %}
                            <em>by: {{ post.author }}</em>  
                {% endif %}
                    </p>
            </div>
        </div>
    <!--Blog post image-->
        <div class="row">
            <div class="col-10 offset-1 mt-4">
                <div class="blog-image-detail h-50">
                    {% if post.image %}
                        <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
            </div>
        </div>

    <!--Blog post date & edit/delete buttons for superuser-->
        <div class="row">
            <div class="col-10 offset-1 mt-3">
                <span class="float-left">{{post.date_created|date:'j F, Y' }}</span> 
            {% if request.user.is_superuser %}
                <small class="mr-3 float-right">
                    <a class="text-pink form-link" href="{% url 'edit_blogpost' post.id %}">Edit</a>
                    <span class="text-black">| </span> 
                    <a class="remove-item" href="{% url 'delete_blogpost' post.id %}">Delete</a>
                </small>
            {% endif %}
            </div>
        </div>

        <hr class="pink-divider w-75">
        
    <!--blogpost body-->
        <div class="row">
            <div class="col-10 offset-1">
                <p class="mb-2 float-left">{{ post.intro }}</p>
                <p class="mb-4 float-left">{{post.section_one}}</p>
                {% if post.section_two %}
                <p class="mb-4 float-left">{{post.section_two}}</p>
                {% endif %}
                {% if post.section_three %}
                <p class="mb-4 float-left">{{post.section_three}}</p>
                {% endif %}
            </div>
        </div>

    <!--Links to full article and back to blog-->
        <div class="row">
            <div class="col-10 offset-1">
            {% if post.original_url %}
                <a href="{{post.original_url}}" target="_blank" class="btn shop-btn rounded-0 float-right mr-1">Read the full article here</a>
            {% endif %}
                <a href="{% url 'all_blogposts' %}" class="btn shop-btn rounded-0 float-right mr-1">
                    <span><i class="fas fa-chevron-left pr-1"></i></span>Back to Blog</a>
            </div>
        </div>
        
    <!--Blogpost credits-->
        <div class="row">
            <div class="col-10 offset-1 float-right text-pink">
                <small class="text-muted">
                    <em>{% if post.credit %} credit: {{ post.credit }}{% endif %} 
                        {% if post.original_url %}
                            <a href="{{post.original_url}}" target="_blank" class="form-link">original article</a> 
                        {% endif %}
                        {% if post.source %} 
                            - posted by: 
                            <a href="https://{{post.source}}" target="_blank" class="form-link">{{ post.source }}</a> 
                        {% endif %}  
                    </em>
                </small> 
            </div>
        </div> 

    <!--Scroll up btn-->
        <div class="scroll-btn hide">
            <a class="scroll-link d-flex h-100 text-decoration-none" title="back to top">
                <i class="fas fa-angle-double-up grey-icon mx-auto my-auto"></i>
            </a>	
        </div>

    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }} 
    <script type="text/javascript">
    //scroll to top btn
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scroll-btn').removeClass('hide');
            } else {
                $('.scroll-btn').addClass('hide');
            }
        });
            
        $('.scroll-btn').click(function(){
            window.scrollTo(0,0)
        });

    </script>
{% endblock %}