{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner_content %}
<h2 class="text-pink font-weight-bold allauth-logo">{% trans "Account Inactive" %}</h2>
<hr>
<p>{% trans "This account is inactive." %}</p>
<br>
<p>If you would like to reactivate your account please contact us <a href="{% url 'contact' %}" class="form-link">here.</a>
<br> Please include <strong>Account Reactivation</strong> in the subject line.</p>
{% endblock %}