{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<h2 class="logo allauth-logo text-center">{% trans "Sign In" %}</h2>
<hr>

{% get_providers as socialaccount_providers %}

<div class="row">
    <div class="col-12 mb-3">
{% if socialaccount_providers %}
      <p class="text-center">{% blocktrans with site.name as site_name %}If you don't already have an account, you can <a href="{{ signup_url }}" class="form-link">sign up here</a>
          and sign in below:{% endblocktrans %}</p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 text-center">
      <h4 class="text-pink">Sign In</h4>
        <form class="login w-75 mx-auto" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
          <a class="shop-btn btn rounded-0 text-uppercase" href="{% url 'home' %}">Home</a>
          <button class="primaryAction shop-btn btn rounded-0 text-uppercase " type="submit">{% trans "Sign In" %}</button>
          <p class="mt-2">
          <a class="form-link secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </p>
       </form>
    </div>

    <div class="col-12 col-md-6 text-center">
      <div class="login-or text-pink font-weight-bold mb-3">
        <h4>{% trans 'or' %} Sign in with social media</h4>
      </div>
        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers list-unstyled">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
        </div>
    </div>
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}" class="form-link">sign up</a> first.{% endblocktrans %}</p>
{% endif %}



{% endblock %}
