<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
   <!--Adjust Quantity/Remove from Bag-->
    <div class="form-group w-75 m-auto">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty-mobile btn btn-sm qty-btn" 
                    data-item_id="{{ item.item_id }}" id="decrement-qtyM_{{ item.item_id }}" aria-label="decrease quantity">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            
            <input class="form-control form-control-sm qty_input text-center font-weight-bold text-pink" type="number" 
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}" id="id_qtyM_{{ item.item_id }}">
            
            <div class="input-group-append">
                <button class="increment-qty-mobile btn qty-btn btn-sm rounded-right"
                    data-item_id="{{ item.item_id }}" id="increment-qtyM_{{ item.item_id }}" aria-label="increase quantity">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
            {% if item.product.has_sizes %}
                <input type="hidden" name="product_size" value="{{ item.size }}">
            {% endif %}
        </div>
    </div>
</form>

<!--Update/remove links depending on device size -->

    <a class="update-qty text-pink text-center">
        <small class="d-inline d-md-none d-xl-inline">Update Quantity</small>
        <small class="d-none d-lg-inline d-xl-none">Update Qty</small>
        <small class="d-none d-md-inline d-lg-none">Update</small>
    </a> 
    <span>|</span>
    <a class="remove-item text-center" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">
        <small class="d-inline d-md-none">Remove from Bag</small>
        <small class="d-none d-md-inline">Remove</small>
    </a>
